* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #a80e0e;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 20px;
}

.container {
  background-color: #000;
  border-radius: 20px;
  padding: 40px 30px;
  max-width: 400px;
  width: 100%;
  text-align: center;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}

.icon {
  font-size: 70px;
  color: #00c851;
  margin-bottom: 15px;
}

h1 {
  font-size: 1.8rem;
  margin-bottom: 8px;
}

p {
  color: #b3b3b3;
  margin-bottom: 30px;
  font-size: 0.95rem;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 12px;
}


a {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  border-radius: 25px;
  padding: 12px;
  font-size: 1rem;
  font-weight: 600;
  transition: 0.3s;
}

.btn {
  background-color: #fff;
  color: #000;
}

.btn:hover {
  background-color: #e0e0e0;
}

.btn-inicio {
  background-color: #a80e0e;
  color: #fff;
  border: 2px solid #a80e0e;
}

.btn-inicio:hover {
  background-color: #8c0b0b;
}


@media (min-width: 600px) {
  .buttons {
    flex-direction: row;
    justify-content: center;
  }

  .buttons a {
    width: 48%;
  }
}
